<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>张育发内科诊所管理系统 | 诊所配置-管理员</title>
    <link th:replace="commn/head :: head"/>
    <link rel="stylesheet" th:href="@{/static/appcss/main.css}"/>
</head>
<body>
<!--公共div-->
<div th:replace="commn/head :: _div"></div>
<!--顶部左侧工具栏-->
<div th:replace="commn/toolbar :: topbar"></div>
<!--顶部右侧搜索-->
<div th:replace="commn/toolbar :: search"></div>
<!--菜单-->
<div th:replace="commn/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a class="tip-bottom"><i class="icon-home"></i> 诊所管理</a>
            <a class="current">管理员配置</a>
        </div>
    </div>
    <div style="padding:0 15px 0 15px;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>管理员列表</h5>
                        <a style="cursor:pointer;float:right;" href="/cmgr/admin-add">
                            <button class="btn btn-info btn-mini" style="margin:7px 7px;">新增管理员</button>
                        </a>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>管理员名称</th>
                                <th>创建时间</th>
                                <th>管理员权限</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="admins != null" th:each="admin : ${admins}" class="odd gradeX">
                                <td class="center" th:text="${admin.userName}"/>
                                <td class="center" th:text="${admin.createDate}"/>
                                <td class="center" th:text="${admin.roleName}"/>
                                <td>
                                    <form th:id="${admin.userId}" style="padding-top:0px !important;padding-bottom:0px !important;">
                                        <a style="cursor:pointer" th:name="${admin.userId}" onclick="AdminList.del(this);">
                                            <i href="javascript:void(0);" class="icon-remove"></i> 删除
                                        </a>
                                        <input hidden="hidden" name="id" th:value="${admin.userId}"/>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div th:replace="commn/toolbar :: footer"></div>
<div th:replace="commn/js :: js"></div>
<script th:inline="javascript">var _msg = [[${msg}]];var _res = [[${flag}]];</script>
<script src="/static/appjs/admin-list.js"></script>
</body>
</html>