#loginbox .normal_text{
    padding: 10px 0 0 0 !important;
}
.form-actions{
    margin-top: 0 !important;
}
#loginbox .control-group{
    padding: 0 0 20px 0 !important;
}
#loginbox form#loginform{
    margin-top: 100px !important;
}
p{
    margin: 5px 0 5px 0;
}
.table th, .table td{
    text-align: center !important;
}
.swal2-modal{
    top: 70% !important;
}
.swal2-modal hr{
    height: 3px !important;
}
.swal2-modal button.styled{
    font-size: 13px !important;
    padding: 2px 15px !important;
}
.swal2-content{
    font-size: 15px !important;
}
.swal2-modal .swal2-close{
    font-size:6px !important;
    line-height: 17px !important;
    color: #808080 !important;
}