<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrap-responsive.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/fullcalendar.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/matrix-style.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/matrix-media.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/font-awesome/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/jquery.gritter.css}"/>
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/googleapis.css}"/>
</head>
<div th:fragment="_div" id="header">
    <h1><a href="dashboard.html">张育发内科诊所管理系统</a></h1>
</div>