<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mgr.dao.DrugMapper" >
    <select id="selDrug" parameterType="java.util.Map">
        SELECT code, name, type,attention,price,format,prd_date
        ,valid_date,shape,counts,prd_phone,prd_firm,uses,dosage,remark
        FROM clinic_mgr_drug
        WHERE 1=1
        <if test="code != null">
            AND code = #{code}
        </if>
        ORDER BY code
    </select>
    <insert id="addDrug" parameterType="java.util.Map">
        INSERT INTO clinic_mgr_drug (code, name, type,attention,price,format,prd_date,valid_date,
        shape,counts,prd_phone,prd_firm,uses,dosage,remark,create_date)
        VALUES (#{code},#{name},#{type},#{attention},#{price},#{format},#{prd_date},#{valid_date},#{shape}
        ,#{counts},#{prd_phone},#{prd_firm},#{uses},#{dosage},#{remark},#{create_date})
    </insert>
</mapper>