<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mgr.dao.StaffMapper">
    <resultMap id="staff" type="com.mgr.model.StaffMdl">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="card" property="card"/>
        <result column="phone" property="phone"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="year_work" property="year_work"/>
        <result column="pro" property="pro"/>
        <result column="old_pro" property="old_pro"/>
        <result column="isjob" property="isjob"/>
        <result column="job_date" property="job_date"/>
        <result column="unjob_date" property="unjob_date"/>
        <result column="address" property="address"/>
        <result column="pay" property="pay"/>
        <result column="edu" property="edu"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id,name,card,phone,sex,age,birthday,year_work,
        pro,old_pro,isjob,job_date,unjob_date,address,pay,edu
    </sql>
    <!-- 查詢所有員工 -->
    <select id="selectList" parameterType="java.util.Map" resultMap="staff">
        select
        <include refid="Base_Column_List" />
        from clinic_mgr_staff
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="phone != null">
            and phone = #{phone}
        </if>
        order by id desc
    </select>
    <!-- 更新员工 -->
    <update id="updateStaff" parameterType="com.mgr.model.StaffMdl">
        update clinic_mgr_staff
        set name=#{name},card=#{card},phone=#{phone},sex=#{sex},age=#{age}
        ,birthday=#{birthday},year_work=#{year_work},pro=#{pro},old_pro=#{old_pro}
        ,isjob=#{isjob},job_date=#{job_date},unjob_date=#{unjob_date}
        ,address=#{address},pay=#{pay},edu=#{edu}
        where id=#{id}
    </update>
    <!-- 新增员工 -->
    <insert id="insertStaff" parameterType="com.mgr.model.StaffMdl">
        insert into clinic_mgr_staff
        (name,card,phone
        <if test="sex != null">,sex</if>
        <if test="age != null">,age</if>
        <if test="birthday != null">,birthday</if>
        <if test="year_work != null">,year_work</if>
        <if test="pro != null">,pro</if>
        <if test="old_pro != null">,old_pro</if>
        <if test="isjob != null">,isjob</if>
        <if test="job_date != null">,job_date</if>
        <if test="unjob_date != null">,unjob_date</if>
        <if test="address != null">,address</if>
        <if test="pay != null">,pay</if>
        <if test="edu != null">,edu</if>
        )
        values
        (#{name},#{card},#{phone}
        <if test="sex != null">,#{sex}</if>
        <if test="age != null">,#{age}</if>
        <if test="birthday != null">,#{birthday}</if>
        <if test="year_work != null">,#{year_work}</if>
        <if test="pro != null">,#{pro}</if>
        <if test="old_pro != null">,#{old_pro}</if>
        <if test="isjob != null">,#{isjob}</if>
        <if test="job_date != null">,#{job_date}</if>
        <if test="unjob_date != null">,#{unjob_date}</if>
        <if test="address != null">,#{address}</if>
        <if test="pay != null">,#{pay}</if>
        <if test="edu != null">,#{edu}</if>
        )
    </insert>
    <!-- 删除员工 -->
    <delete id="delStaff" parameterType="java.util.Map">
        DELETE FROM clinic_mgr_staff
        WHERE id=#{id}
    </delete>
</mapper>